.memberDiv {
    text-align: center;
    margin-top: 100px;
    margin-right: 60px;
}
.memberDiv ul {
    list-style-type: none;
}
.memberName {
    margin-bottom: 30px;
    width: 400px;
}